body{
	background-image: url("../images/body.png");
	background-position: center;
	
}



.navbar{
	height:300px;
	background-image: url("../images/bg.png");
	background-repeat:repeat-x;
	
	margin-top: 0;
	position:relative;
	
	/*box-shadow:0px 0px 0px 5px pink;*/
}


.navbar-brand{
	position: absolute;
	top:10px;
	left:30px;
}

.navbar-toggler{
	position:absolute;
	right:20px;
	top:40px;
}

#logo img{

}

#menu{
	position: absolute;
	top:50px;
	right:20px;
}


#highlights{
	text-align: center;
	margin-top:80px;
	margin-bottom: 20px;
}

#intro{
	text-align: center;
	background-image: url("../images/button.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
}



#library, #placements, #hostels{
  height:600px;
  width:90%;
  margin-bottom:60px;
  margin-top:50px;
  margin-left:5%;
  position: relative;
  border:2px solid #3F0C1F;
  overflow:hidden;
  border-radius: 20px;
  position: relative;
}

#library img, #placements img, #hostel img{
  position: absolute;
  height: 100%;
  width:100%;
}

#library #mark, #placements #mark, #hostels #mark{
  position: absolute;
  bottom:5px;
  right:5px;
  width:25%;
  height: 10%;
  text-align:center;
  font-size:1.6em;
  text-transform:uppercase;
  
  color:#fff;
}

#library:hover, #placements:hover,#hostels:hover{
  box-shadow: 0 5px 10px 5px red ;
}

#home-tiles3{
	margin-bottom:20px;
	width: 90%;
	margin-left: 5%;
}

.panel-footer{
	height:600px;
	background-image: url("../images/footer.jpg");
	background-repeat:repeat-x;
	position: relative;
}

.panel-footer section{
	margin-top:350px;
	bottom:20px;
	text-align: center;
}

.offcanvas{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThBQDcKObV3MIo2Xislmr_LboXv-G8RDR5Aw&usqp=CAU ");
	background-size: 300%;
}

@media(max-width: 992px){
    #menu{
    	text-align: center;
    }

    #library, #placements, #hostels{
		height:400px;
		  
    }

}

@media(max-width: 576px){
    
    #logo img{
    	width:60%;
    }
    
    #logo{
    	top:25px;
    }

    /*.navbar{
    	height: 200px;
    	background-size: 60%;
    }*/
}


@media(max-width:400px){

    .navbar{
    	height: 200px;
    	background-size: 85%;
    }

    #library, #placements, #hostels{
		height:300px;
		  
    }	
}